<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Table for all albums, populated in script -->
    <table id="album-table"></table>

    <br>

    <script type="text/javascript" src="/javascripts/albums.js"></script>
    <script>
      fetch("http://localhost:8000/api/albums/?format=json")
        .then(response => response.json())
        .then(data => {
          console.log(data);
          let table = document.getElementById("album-table");

          // add table headings
          let newRow = document.createElement("tr");
          table.appendChild(newRow);

          let headings = ["", "Album", "Artist", "Genre", "Cover"];

          headings.forEach(heading => {
            let newCol = document.createElement("th");
            newRow.appendChild(newCol);
            newCol.innerHTML = heading;
          })

          // add albums to table
          data.forEach(element => {
            let newRow = document.createElement("tr");
            table.appendChild(newRow);

            let buttonTd = document.createElement("td");
            let button = document.createElement("button");
            let name = document.createElement("td");
            let artist = document.createElement("td");
            let genre = document.createElement("td");
            let artTd = document.createElement("td");
            let art = document.createElement("img");
            
            button.innerHTML = "Add to basket";
            button.addEventListener('click', function() {
              addToBasket(element['id']);
            });
            name.innerHTML = element['albumName'];
            artist.innerHTML = element['artist'];
            genre.innerHTML = element['genre'];
            art.src = element['albumArt'];

            newRow.appendChild(buttonTd);
            buttonTd.appendChild(button);

            newRow.appendChild(name);
            newRow.appendChild(artist);
            newRow.appendChild(genre);
            newRow.appendChild(artTd);
            artTd.appendChild(art);
          })
        })
    </script>
  </body>
</html>