<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form id="login-form" method="POST" action="">
      <label for="username">Username</label>
      <input id="form-username" name="username" type="text" placeholder="Username">
      <label for="password">Password</label>
      <input id="form-password" name="password" type="password" placeholder="Password">
      <input type="submit" value="login">
    </form>

    <table id="album-table">
      <tr>
        <th></th>
        <th>Album</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Cover</th>
      </tr>
    </table>

    <script>
      fetch("http://localhost:8000/api/albums/?format=json")
      .then(response => response.json())
      .then(data => {
        console.log(data);
        let table = document.getElementById("album-table");
        data.forEach(element => {
          let newRow = document.createElement("tr");
          table.appendChild(newRow);

          let buttonTd = document.createElement("td");
          let button = document.createElement("button");
          let name = document.createElement("td");
          let artist = document.createElement("td");
          let genre = document.createElement("td");
          let artTd = document.createElement("td");
          let art = document.createElement("img");
          
          button.innerHTML = "Add to basket";
          button.addEventListener('click', function() {
            addToBasket(element['id']);
          });
          name.innerHTML = element['albumName'];
          artist.innerHTML = element['artist'];
          genre.innerHTML = element['genre'];
          art.src = element['albumArt'];

          newRow.appendChild(buttonTd);
          buttonTd.appendChild(button);

          newRow.appendChild(name);
          newRow.appendChild(artist);
          newRow.appendChild(genre);
          newRow.appendChild(artTd);
          artTd.appendChild(art);
        })
      })

      // event listener for login
      let loginform = document.getElementById("login-form");
      loginform.addEventListener("submit", (event)=>{
        event.preventDefault();
        let user = document.getElementById("form-username").value;
        let pass = document.getElementById("form-password").value;
        fetch("http://localhost:8000/token/", {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify( {username: user, password: pass} )
        }).then(response => response.json()).then(data => {
          console.log(data);
          window.token = data['token'];        
        })
      }, true);

      function addToBasket(albumId) {
        if (window.token){
          fetch(`http://localhost:8000/add_to_basket/${albumId}/?format=json`, {
            method: 'GET',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': `Token ${window.token}`
              }
            }
          ).then(response => response.json()).then(data => console.log(data));
        }
        else {
          alert("Log in to proceed");
        }
      }
    </script>
  </body>
</html>
