<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- login form, event listener in script -->
    <form id="login-form" method="POST" action="">
      <label for="username">Username</label>
      <input id="form-username" name="username" type="text" placeholder="Username">
      <label for="password">Password</label>
      <input id="form-password" name="password" type="password" placeholder="Password">
      <input type="submit" value="login">
    </form>

    <button id="album-button" onclick="showAlbums()">Show Albums</button>

    <!-- Table for all albums, populated in script -->
    <table id="album-table">
      <tr>
        <th></th>
        <th>Album</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Cover</th>
      </tr>
    </table>

    <br>

    <button id="basket-button" onclick="showBasket()">Show Basket</button>
    <table id="basket-table">
      <tr>
        <th>Album</th>
        <th>Artist</th>
        <th>Quantity</th>
      </tr>
    </table>

    <script src = "/javascripts/albums.js"></script>
    <script src = "/javascripts/loginForm.js"></script>
  </body>
</html>
