<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="album-table">
      <tr>
        <th>Album</th>
        <th>Artist</th>
        <th>Genre</th>
      </tr>
    </table>

    <form id="login-form" method="POST" action="">
      <label for="username">Username</label>
      <input id="form-username" name="username" type="text" placeholder="Username">
      <label for="password">Password</label>
      <input id="form-password" name="password" type="password" placeholder="Password">
      <input type="submit" value="login">
    </form>

    <script>
      fetch("http://localhost:8000/api/albums/?format=json")
      .then(response => response.json())
      .then(data => {
        console.log(data);
        let table = document.getElementById("album-table");
        data.forEach(element => {
          let newRow = document.createElement("tr");
          table.appendChild(newRow);

          let name = document.createElement("td");
          let artist = document.createElement("td");
          let genre = document.createElement("td");

          name.innerHTML = element['albumName'];
          artist.innerHTML = element['artist'];
          genre.innerHTML = element['genre'];

          newRow.append(name);
          newRow.append(artist);
          newRow.append(genre);
        })
      })

      // event listener for login
      let loginform = document.getElementById("login-form");
      loginform.addEventListener("submit", (event)=>{
        event.preventDefault();
        let user = document.getElementById("form-username").value;
        let pass = document.getElementById("form-password").value;
        fetch("http://localhost:8000/token/", {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify( {username: user, password: pass} )
        }).then(response => response.json()).then(data => console.log(data))
      }, true);
    </script>
  </body>
</html>
