{% extends 'base.html' %}

{% block title %}Your Basket{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            {% if basket_items %}
                <div class="col-lg-8">
                    {% for item in basket_items %}
                        <div class="row border">
                            Album: {{ item.album.albumName }}<br>
                            Quantity: {{ item.quantity }}<br>
                            Cost: €{{ item.cost }}<br>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    <p>Total: €{{ basket.cost }}</p>
                    <p><a href="/order_form">Checkout</a></p>
                </div>
            {% else %}
                <h3>Your basket is empty, please go buy stuff</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}
